In [1]:
import yfinance as yf
import numpy as np
import pandas as pd

In [3]:
data = yf.download(['AMZN', '^GSPC'], start='2020-01-01', end='2020-06-01')['Close']
data

[*********************100%%**********************]  2 of 2 completed

                  AMZN        ^GSPC
Date
2020-01-02   94.900497  3257.850098
2020-01-03   93.748497  3234.850098
2020-01-06   95.143997  3246.280029
2020-01-07   95.343002  3237.179932
2020-01-08   94.598503  3253.050049
...                ...          ...
2020-05-22  121.844002  2955.449951
2020-05-26  121.093002  2991.770020
2020-05-27  120.519501  3036.129883
2020-05-28  120.055000  3029.729980
2020-05-29  122.118500  3044.310059

[103 rows x 2 columns]

In [4]:
secReturns = np.log(data / data.shift(1))
secReturns

                AMZN     ^GSPC
Date
2020-01-02       NaN       NaN
2020-01-03 -0.012213 -0.007085
2020-01-06  0.014776  0.003527
2020-01-07  0.002089 -0.002807
2020-01-08 -0.007839  0.004890
...              ...       ...
2020-05-22 -0.004038  0.002351
2020-05-26 -0.006183  0.012214
2020-05-27 -0.004747  0.014718
2020-05-28 -0.003862 -0.002110
2020-05-29  0.017042  0.004801

[103 rows x 2 columns]

In [6]:
cov = secReturns.cov() * 252
cov

           AMZN     ^GSPC
AMZN   0.184280  0.145423
^GSPC  0.145423  0.246330

In [7]:
covMarket = cov.iloc[0, 1]
covMarket

0.14542296616556583

In [8]:
marketVar = secReturns['^GSPC'].var() * 252
marketVar

0.24633040154337363

In [11]:
beta = covMarket / marketVar
beta

0.5903573625278238

In [14]:
riskFree = .025
riskPrem = .05
capmReturn = riskFree + beta * riskPrem
capmReturn

0.05451786812639119